<footer class="container py-5">
    <div class="row footer">
        <div class="col-12 col-md footer">
            <img class="logo-link" src="/images/adaptivity logo - white.png">
        </div>
        <div class="col-6 col-md footer">
            <p class="footer address1">
                160 Robinson Road, #14-04<br> Singapore Business Federation<br> Centre, Singapore 068914
            </p>
            <p class="footer address2">
                150 Sukhumvit, Soi 16, Khlong<br> Toei, Bangkok 10110
            </p>
        </div>
        <div class="col-4 col-md footer">
            <h4 class="h4 footer">COMPANY</h4>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="https://adaptivity.us/aboutus">About Adaptivity</a></li>
                <li><a class="link-secondary" href="https://adaptivity.us/cause/">Social Mission</a></li>
            </ul>
            <h4 class="h4 footer2">SERVICE</h4>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="https://adaptivity.us/adaptivitymentorship/">Digital Adaptivity Mentorship</a></li>
                <li><a class="link-secondary" href="https://adaptivity.us/forcompanies">For Companies</a></li>
            </ul>
        </div>
        <div class="col-6 col-md footer">
            <h4 class="h4 footer">FIND US</h4>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary" href="#"><i class="fab fa-facebook-square"></i> Facebook</a></li>
                <li><a class="link-secondary" href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                <li><a class="link-secondary" href="#"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
                <li><a class="link-secondary" href="#"><i class="fab fa-youtube"></i> Youtube</a></li>
                <li><a class="link-secondary" href="#"><i class="fab fa-facebook-messenger"></i> Messenger</a></li>
            </ul>
        </div>
        <p class="copyright footer">
            Copyright © 2020 Adaptivity Pte. Ltd. | <a class="privacy" href="https://adaptivity.us/privacypolicy/">Privacy</a> | Service
        </p>
    </div>
</footer>