<nav class="navbar navbar-dark">
    <div class="container navbar">
        <img class="logo-link" src="/images/adaptivity logo - white.png">
        <div class="navbar-menu">
            <ul class="navigation-links">
                <li class="nav-list">
                    <a class="nav-links" href="https://adaptivity.us/adaptivitymentorship/">MENTORSHIP PROGRAM</a>
                </li>
                <li class="nav-list">
                    <a class="nav-links" href="https://adaptivity.us/forcompanies/">FOR COMPANIES</a>
                </li>
                <li class="nav-list">
                    <a class="nav-links" href="https://adaptivity.us/content/">CONTENT</a>
                </li>
                <li class="nav-list">
                    <a class="nav-links" href="https://adaptivity.us/cause/">CAUSE</a>
                </li>
                <li class="nav-list">
                    <a class="nav-links" href="https://adaptivity.us/aboutus/">ABOUT ADAPTABILITY</a>
                </li>
                <% if(!isLoggedIn){ %>
                    <li class="nav-list "><a href="/users/login" class="nav-links">Login</a></li>
                <% } else { %>
                    <a href="/users/logout" class="nav-links">Log Out</a>
                <% } %>
            </ul>
        </div>
    </div>
</nav>