<head>
    <style>
        body {
            margin: 0;
        }

        .links line{
            color: white;
        }
    </style>

    <script src="//unpkg.com/3d-force-graph"></script>
    <script src="//unpkg.com/three"></script>
    <script src="//unpkg.com/three-spritetext"></script>
    <!--<script src="../../dist/3d-force-graph.js"></script>-->
</head>

<body>
    <div id="3d-graph"></div>

    <script>
        const elem = document.getElementById('3d-graph');

        const Graph = ForceGraph3D()
            (elem)
            .jsonUrl('data')
            .nodeThreeObject(node => {
                const sprite = new SpriteText(node.id);
                sprite.material.depthWrite = false; // make sprite background transparent
                sprite.color = node.color;
                sprite.textHeight = node.value;
                return sprite;
            })
            .nodeAutoColorBy('group')
            .linkOpacity(0.5)
            .onNodeClick(node => {
                // Aim at node from outside it

                const distance = 40;
                const distRatio = 1 + distance / Math.hypot(node.x, node.y, node.z);

                Graph.cameraPosition({
                        x: node.x * distRatio,
                        y: node.y * distRatio,
                        z: node.z * distRatio
                    }, // new position
                    node, // lookAt ({ x, y, z })
                    3000 // ms transition duration
                );

                Graph.cameraPosition(
                    { x: node.x /10000000 , y: node.y /10000000, z: node.z /10000000 }, // new position
                    node, // lookAt ({ x, y, z })
                    3000  // ms transition duration
                );

            });
    </script>
</body>