<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>


    <body>
        <div class="section-1">
            <%- include('./partials/navbar.ejs')%>

                <div class="content-index">
                    <h1 class="h1 index">Adaptivity Mentorship Program</h1>
                    <br>
                    <p class="p index">Your journey of becoming an adaptive talent starts with a 10 minutes <strong>Digital Adaptivity Assessment</strong><br>which helps you assess your digital mindset, behaviors, logic, and how you foster relationships digitally.<br>Plus!
                        It will also give you insights regarding your <strong>digital compatibility.</strong></p>
                    <br><br>
                    <a class="cta_button" href="https://adaptivity.us/adaptivitymentorship/assessment/">
            Discover your digital potential 
            <i class="fas fa-chevron-right"></i>
        </a>
                    <br>
                </div>
        </div>

        <div class="section-2">
            <h2 class="h2 index">OUR PROGRAM</h2>
            <br>
            <div class="container index">
                <div class="row index">
                    <div class="col-lg">
                        <img class="monitor" src="images/uxui.svg">
                    </div>
                    <div class="col-lg">
                        <p class="dummy-text">Lorem ipsum dolor sit amet, <strong>consectetur adipiscing</strong> elit. Mauris nec risus venenatis, accumsan ante sit amet, malesuada sapien. Curabitur malesuada congue semper. <br><br>Vivamus pellentesque nunc vitae velit lobortis,
                            vitae sodales ex consequat. In <em>elementum pellentesque</em> quam, non convallis augue porttitor ac. </p>
                    </div>
                </div>

                <div class="row index">
                    <div class="col-lg">
                        <p class="dummy-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Mauris nec risus</strong> venenatis, accumsan ante sit amet, malesuada sapien. Curabitur malesuada congue semper.</p>
                    </div>
                    <div class="col-lg">
                        <img class="monitor" src="images/monitor.png">
                    </div>
                </div>

                <div class="row index">
                    <div class="col-lg">
                        <img class="monitor" src="images/laptop.png">
                    </div>
                    <div class="col-lg">
                        <p class="dummy-text">Lorem ipsum dolor sit amet, <strong>consectetur adipiscing</strong> elit. Mauris nec risus venenatis, accumsan ante sit amet, malesuada sapien. Curabitur malesuada congue semper. <br><br>Vivamus pellentesque nunc vitae velit lobortis,
                            vitae sodales ex consequat.</p>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://kit.fontawesome.com/81d30d81d6.js" crossorigin="anonymous"></script>
    </body>

</html>