<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>

    <body>

        <form action="/users/testone" method="POST" class="form-signin">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    name="name">
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">description</label>
                    <textarea class="form-control" rows='5' id="description" name="description"></textarea>
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">image</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" name="image">
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">link to job page</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" name="link">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </body>

</html>