/* Colours */


/* 
Primary Colours
black
#000000
white
#ffffff
teal-dark
#28c49e
teal
#40edc3
Secondary Colours
Brown
#C46C28
Blue (links and hover)
#284FC4
Red
#C44528
<a class="cta_button" href="#">
This is a button
<i class="arrow right"></i>
</a>
*/

body {
    background-color: #000000;
}


/* -------------------- NAV BAR -------------------- */

.navbar {
    margin: auto;
    vertical-align: middle;
}

.container.navbar {
    margin: auto;
    padding: 0;
    height: 89px;
    width: 1200px;
    text-align: center;
    vertical-align: middle;
}

.logo-link {
    width: 170px;
    height: 57px;
    vertical-align: middle;
}

.navigation-links {
    margin-left: 80px;
    width: 100%;
    text-align: end;
    height: 100%;
}

.navigation-links,
li.nav-list,
a.nav-links {
    display: inline;
    list-style: none;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    text-decoration: none;
    transition: 0.2s all linear;
    -webkit-transition: 0.2s all linear;
    -moz-transition: 0.2s all linear;
    -ms-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
}

li.nav-list {
    padding: 0 14px;
}

li.nav-list,
a.nav-links:hover {
    color: #284fc4;
}

.cta_button.sign-in {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 20px;
    color: #303030;
    background-color: #28c49e;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.2s all linear;
    -webkit-transition: 0.2s all linear;
    -moz-transition: 0.2s all linear;
    -ms-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
    text-decoration: none;
}

.cta_button.sign-in:hover {
    background-color: #284fc4;
    color: #ffffff;
}


/* -------------------- INDEX -------------------- */

.section-1 {
    background-image: url("images/meeting.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 99999px 0 99999px rgba(0, 0, 0, 0.75);
    height: 650px;
    text-align: center;
}

.h1.index {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 68px;
    text-align: center;
    color: #ffffff;
    margin: auto;
    padding-top: 80px;
}

.cta_button {
    padding: 15px 25px;
    color: #303030;
    background-color: #28c49e;
    vertical-align: middle;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.2s all linear;
    -webkit-transition: 0.2s all linear;
    -moz-transition: 0.2s all linear;
    -ms-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
    text-decoration: none;
}

.cta_button:hover {
    background-color: #284fc4;
    color: #ffffff;
}

.p.index {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    margin: 0;
    padding: 20px;
}

.form-control {
    border-bottom-style: groove;
}

.section-2 {
    background-color: rgb(0, 0, 0);
}

.h2.index {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 44px;
    color: #28c49e;
    text-align: center;
    padding: 40px 0;
}

.assessment,
.mentor,
.idea {
    display: block;
    margin: auto;
    width: 75%;
    text-align: center;
}

.row.index {
    padding: 65px 0;
}

.dummy-text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    line-height: 35px;
}


/* ---------------- Dashboard ----------------*/

.welcome {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 21px;
    color: #28c49e;
    text-align: center;
}


/* ---------------- Footer ----------------*/

.col-6.col-md.footer {
    padding: 0 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    line-height: 30px;
}

.footer.address1 {
    margin-bottom: 45px;
}

.link-secondary {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

.h4.footer {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 21px;
    color: #28c49e;
    padding-bottom: 15px;
}

.h4.footer2 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 21px;
    color: #28c49e;
    padding: 15px 0;
}

.copyright.footer {
    padding-top: 100px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}

.privacy {
    color: #ffffff;
    text-decoration: none;
}

.privacy {
    color: #ffffff;
    text-decoration: none;
    transition: 0.2s all linear;
    -webkit-transition: 0.2s all linear;
    -moz-transition: 0.2s all linear;
    -ms-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
}

.privacy:hover {
    color: #28c49e;
}

.container.py-5 {
    background-color: #000000;
}

.h2.recommends {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 44px;
    color: #40edc3;
}


/* ---------------- AI Recommends ----------------*/

.recommends-card-style {
    margin-bottom: 50px;
    width: 600px;
    background-color: #28c49e;
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 10px;
    /* Added */
}

.recommends-job-title {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 44px;
    text-align: center;
}

.recommends-link {
    color: inherit;
}

.recommends-description {
    font-family: "Poppins", sans-serif;
}


/* ---------------- Login + Register ----------------*/

.container.login {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 30px 50px;
    width: 480px;
    text-align: center;
    transform: translate(-50%, -50%);
    border: 3px solid #fff;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.logo.login {
    width: 45%;
    cursor: pointer;
}

.h3.mb-3 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 36px;
    color: #40edc3;
    padding: 10px;
}

.form-control {
    background-color: #000000;
    border: 0;
    border-bottom: 2px solid #fff;
    padding: 10px;
}

.cta_button.login {
    margin-top: 30px;
    padding: 8px 25px;
    color: #303030;
    background-color: #28c49e;
    vertical-align: middle;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: 0.2s all linear;
    -webkit-transition: 0.2s all linear;
    -moz-transition: 0.2s all linear;
    -ms-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
    text-decoration: none;
}

.logout-button {
    z-index: 1;
    margin-left: 90%;
    margin-top: 35px;
    padding: 8px 20px;
    background-color: #28c49e;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    transition: 0.2s all linear;
    -webkit-transition: 0.2s all linear;
    -moz-transition: 0.2s all linear;
    -ms-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
}

.logout-button:hover {
    background-color: #284fc4;
}

.mt-3 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #9B9B9B;
    padding-top: 25px;
}

.register {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    transition: 0.2s all linear;
    -webkit-transition: 0.2s all linear;
    -moz-transition: 0.2s all linear;
    -ms-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
}

.register:hover {
    color: #303030;
}

.my-modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow-y: initial;
    z-index: 1;
    background-color: rgb(0, 0, 0, 0.4);
}

.my-modal-content {
    /* background-color: rgb(254, 254, 254, 0.9); */
    background-color: rgba(20, 20, 20, 0.9);
    color: white;
    margin: 10% auto;
    padding: 32px 20px;
    border: 1px solid black;
    width: 50%;
    /* max-width: 350px;
    min-width: 350px; */
    align-items: center;
    position: relative;
    border-radius: 10px;
    height: 50vh;
    overflow-y: auto;
}

.my-modal-content::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

.my-modal-content::-webkit-scrollbar {
    background: rgb(0, 0, 0, 0.4);
    /* color of the tracking area */
}

.my-modal-content::-webkit-scrollbar-thumb {
    background-color: #28c49e;
    /* color of the scroll thumb */
    border-radius: 45px;
    /* roundness of the scroll thumb */
    border: 1px solid #28c49e;
    /* creates padding around scroll thumb */
}

.card-title {
    text-transform: uppercase;
    text-align: center;
    color: #28c49e;
    font-weight: 800;
    font-size: 21px;
}

.job {
    display: block;
    margin: auto;
    padding: 0;
    width: 55%;
}