/* Colours */


/* 
Primary Colours
black
#000000
white
#ffffff
teal-dark
#28c49e
teal
#40edc3
Secondary Colours
Brown
#C46C28
Blue (links and hover)
#284FC4
Red
#C44528
<a class="cta_button" href="#">
This is a button
<i class="arrow right"></i>
</a>
*/

body {
    background-color: #000000;
}


/* -------------------- NAV BAR -------------------- */

.navbar {
    margin: auto;
    vertical-align: middle;
}

.container.navbar {
    margin: auto;
    padding: 0;
    height: 89px;
    width: 1200px;
    text-align: center;
    vertical-align: middle;
}

.logo-link {
    width: 170px;
    height: 57px;
    vertical-align: middle;
}

.navigation-links {
    margin-left: 80px;
    width: 100%;
    text-align: end;
    height: 100%;
}

.navigation-links,
li.nav-list,
a.nav-links {
    display: inline;
    list-style: none;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    text-decoration: none;
    transition: 0.2s all linear;
    -webkit-transition: 0.2s all linear;
    -moz-transition: 0.2s all linear;
    -ms-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
}

li.nav-list {
    padding: 0 14px;
}

li.nav-list,
a.nav-links:hover {
    color: #284fc4;
}

.cta_button.sign-in {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 20px;
    color: #303030;
    background-color: #28c49e;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.2s all linear;
    -webkit-transition: 0.2s all linear;
    -moz-transition: 0.2s all linear;
    -ms-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
    text-decoration: none;
}

.cta_button.sign-in:hover {
    background-color: #284fc4;
    color: #ffffff;
}


/* -------------------- INDEX -------------------- */

.section-1 {
    background-image: url("images/meeting.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 99999px 0 99999px rgba(0, 0, 0, 0.75);
    height: 650px;
    text-align: center;
}

.h1.index {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 68px;
    text-align: center;
    color: #ffffff;
    margin: auto;
    padding-top: 80px;
}

.cta_button {
    padding: 15px 25px;
    color: #303030;
    background-color: #28c49e;
    vertical-align: middle;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.2s all linear;
    -webkit-transition: 0.2s all linear;
    -moz-transition: 0.2s all linear;
    -ms-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
    text-decoration: none;
}

.cta_button:hover {
    background-color: #284fc4;
    color: #ffffff;
}

.p.index {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    margin: 0;
    padding: 20px;
}


/* -------------------- LOGIN / -------------------- */

.form-control {
    border-bottom-style: groove;
}


/* .container.signup {
            border: 8px solid #28c49e;
            border-radius: 25px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            -ms-border-radius: 25px;
            -o-border-radius: 25px;
        } */


/* .row.signup {
            padding: 35px;
        } */


/* .img.signup {
            width: 80%;
            padding: 100px 0;
        } */

.section-2 {
    background-color: rgb(0, 0, 0);
}

.h2.index {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 44px;
    color: #28c49e;
    text-align: center;
    padding: 40px 0;
}

.assessment,
.mentor,
.idea {
    display: block;
    margin: auto;
    width: 75%;
    text-align: center;
}

.row.index {
    padding: 65px 0;
}

.dummy-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    line-height: 35px;
}


/* ---------------- Dashboard ----------------*/

.welcome {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 21px;
    color: #28c49e;
    text-align: center;
}


/* ---------------- Footer ----------------*/

.col-6.col-md.footer {
    padding: 0 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    line-height: 30px;
}

.footer.address1 {
    margin-bottom: 45px;
}

.link-secondary {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

.h4.footer {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 21px;
    color: #28c49e;
    padding-bottom: 15px;
}

.h4.footer2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 21px;
    color: #28c49e;
    padding: 15px 0;
}

.copyright.footer {
    padding-top: 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}

.privacy {
    color: #ffffff;
    text-decoration: none;
}

.privacy {
    color: #ffffff;
    text-decoration: none;
    transition: 0.2s all linear;
    -webkit-transition: 0.2s all linear;
    -moz-transition: 0.2s all linear;
    -ms-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
}

.privacy:hover {
    color: #28c49e;
}

.container.py-5 {
    background-color: #000000;
}

.h2.recommends {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 44px;
    color: #40edc3;
}