<!DOCTYPE html>
<html lang="en">

<%- include('../partials/jobhead.ejs')%>


    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">FULL-STACK DEVELOPER</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#missions">Missions</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#graph">Graph</a></li>
                    <button class="back-button"><a class="back-to-results" href="/users/recommends">Back to results</a></button>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <img class="jobs-img" src="/images/full-stack.png">
                    <h1 class="mb-0">
                        FULL-STACK
                        <span class="text-primary">DEVELOPER</span>
                    </h1>
                    <p class="lead mb-5">FULL-STACK DEVELOPERS ARE "ALL-AROUND DEVELOPERS." THEY ARE FAMILIAR WITH THE ENTIRE DEVELOPMENT CHAIN FOR AN APP OR WEBSITE, CAN CODE FRONT-END TO BACK, AND ARE COMFORTABLE WITH SEVERAL LANGUAGES AND TECHNOLOGIES</p>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="missions">
                <div class="resume-section-content">
                    <h2 class="mb-5">Missions</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <p>A full-stack developer comes in contact with the entire chain development of a software or app.
                            </p>
                            <p>Full-stack developers must know how to be part of a team, as they often work with other developers (front-end back end, or other full stacks). They also collaborate with integrators working on the graphics and design of a website
                                or app. </p>
                            <p>In smaller companies, full-stack developers report directly to a CTO. In larger businesses, and depending on the project management style, a scrum master of product/project manager will supervise full- stack developers.</p>
                        </div>
                        <!-- <div class="flex-shrink-0"><span class="text-primary">March 2013 - Present</span></div> -->
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h2 class="mb-5">SKILLS</h2>
                            <!-- <div class="subheading mb-3">Intelitec Solutions</div> -->
                            <p>Full-stack developers must have wide-ranging skills. They can be asked to work on each step during the creation of an app or website--from development to production,</p>
                            <p>Front end refers to everything a user can see when browsing a site that can be developed through frameworks such as Angular or Vue.js. Full-stack developers must also be able to develop the back end of a website, meaning the
                                "hidden" part. </p>
                            <p>This is the behind-the-scenes part which contains the databases or the API (Application Programming interface) calls, among other functions In short, a fullstack developer is competent in all of the development fields and participates
                                in the creation and maintenance of a website or app.</p>

                        </div>
                        <!-- <div class="flex-shrink-0"><span class="text-primary">December 2011 - March 2013</span></div> -->
                    </div>

                </div>

            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="graph">
                <div class="resume-section-content">
                    <h2 class="mb-5">GRAPH</h2>

                </div>
            </section>
            <hr class="m-0" />

        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="./scripts.js"></script>
    </body>

</html>