<!DOCTYPE html>
<html lang="en">

<%- include('../partials/jobhead.ejs')%>


    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">PRODUCT
                    MANAGER</span>
                <!-- <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2"
                        src="assets/img/profile.jpg" alt="..." /></span> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#missions">Missions</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#graph">Graph</a></li>
                    <button class="back-button"><a class="back-to-results" href="/users/recommends">Back to results</a></button>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <img class="jobs-img" src="/images/product-manager.png">
                    <h1 class="mb-0">
                        Product
                        <span class="text-primary">Manager</span>
                    </h1>

                    <p class="lead mb-5">Product managers are responsible for the success of a product. They try to understand the problems that customers can encounter when they are using the product so they can find a solution and help in product development.</p>

                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="missions">
                <div class="resume-section-content">
                    <h2 class="mb-5">Missions</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">

                            <p>Product managers are constantly looking to improve or create new products for their companies. They must be versatile, as the job is multifaceted, and they are a key liaison between the clients and the product. Product managers
                                gather and organize the various product-user experiences in order to propose coherent and pertinent solutions to any problems detected. In short, they are the link between all of the teams in contact with customers and
                                the teams that can resolve the problems.
                            </p>

                            <p>Product managers must also monitor the production of the product and are in charge of the development chain: formulating an idea, defining the features and design, and developing a roadmap. In a nutshell, they decide the what,
                                when, how, and why behind product development. They are perfectionists, and their ultimate goal is to propose the best improvements for a product in order to bring value to their clients.</p>
                        </div>

                    </div>

                </div>
            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="skills">

                <div class="resume-section-content">

                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h2 class="mb-5">SKILLS</h2>
                            <!-- <div class="subheading mb-3">Intelitec Solutions</div> -->
                            <p>Product managers might need to manage a large number of product requests and feedback. So as not to become overwhelmed, rigor and an acute sense of organization under all circumstances are crucial. The position has a technical
                                and a business side, so product managers must, above all, possess excellent leadership and communication qualities in order to explain the product improvements and innovations to the production teams.
                            </p>

                            <p>Lastly, product managers must know how to compromise. They cannot resolve every single problem for all of the users, and they will be obligated to make choices that will have a direct impact on the product.</p>
                        </div>
                    </div>

                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="graph">
                <div class="resume-section-content">
                    <h2 class="mb-5">GRAPH</h2>

                </div>
            </section>
            <hr class="m-0" />
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="./scripts.js"></script>
    </body>

</html>